p { color: teal;
font-family:cursive;
background-color: violet;
width: 60px; padding:20
}
hi{background-color: aqua;}
.high1{background-color: yellowgreen;}
.high2{background-color:red ;}
#ie{width:500px; height:300px;}